bin
bin/*
.git
.git/*
gecosi.log
*.class
*.class
*.class
*.class
*.class
bin/unssGeCO/Fenetre$2.class
bin/unssGeCO/Fenetre$3.class
bin/unssGeCO/Fenetre$4.class
bin/unssGeCO/Fenetre$5.class
bin/unssGeCO/Fenetre$6.class
bin/unssGeCO/Fenetre$7.class
bin/unssGeCO/Fenetre$8.class
bin/unssGeCO/Fenetre$9.class
bin/unssGeCO/Fenetre.class
*.class
*.class
